@media screen and (min-width: 769px) {
  /* SECTION ONE STARTS HERE */

  .about-section-one {
    color: rgb(255, 64, 0);
    background-image: url('../images/2A_mainbg_desktop.png');
    padding-bottom: 20px;
  }

  .section-one-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .about-container-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url('../images/red\ sun.jpg');
    padding-top: 115px;
    padding-left: 0;
    padding-right: 0;
  }

  .about-message-container {
    margin-top: 77px;
    padding: 15px 35px;
    background: #fff;
    width: 70%;
  }

  .about-message-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #000;
    width: 100%;
  }

  .contact-us {
    height: auto;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #7a7a7a;
  }

  .detail-email {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #5f5f5f;
    height: auto;
  }

  /* SECTION ONE ENDS HERE */

  /* MIDDLE SECTION STARTS HERE */

  .middle-section-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .middle-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.03em;
    padding-bottom: 20px;
  }

  .para {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.03em;
    max-width: 759px;
    align-self: center;
    padding-top: 40px;
    color: #d3d3d3;
  }

  .about-middle-logo {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: center;
  }

  /* MIDDLE SECTION ENDS HERE */

  /* LAST SECTION STARTS HERE */

  .last-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .last-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #2c2c2c;
    padding-bottom: 20px;
  }

  .last-para {
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.03em;
  }

  .last-section-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .pic {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
  }

  .about-footer-one p {
    display: flex;
    flex-direction: column;
  }

  .pic > p:first-child {
    font-size: 2rem;
    color: white;
  }

  .pic > p:last-child {
    font-size: 1rem;
    color: white;
  }

  .one {
    background: linear-gradient(rgba(38, 38, 38, 0), rgba(38, 38, 38, 0.5)), url(../images/9C_conference-picture-three.jpg) no-repeat;
  }

  .two {
    background: linear-gradient(rgba(38, 38, 38, 0), rgba(38, 38, 38, 0.5)), url(../images/9B_conference_picture_2.jpg)  no-repeat;
  }

  .partners-master {
    display: none;
  }

  /* LAST SECTION ENDS HERE */

  /* FOOTER STARTS HERE */

  .about-footer {
    background-color: black;
  }

  .about-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: white;
    gap: 1rem;
    padding: 3rem;
  }

  .about-logo-footer {
    width: 70%;
  }

  /* FOOTER ENDS HERE */

  .about-footer-mobile-only {
    display: none;
  }
}
