body {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .mobile-header {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  /* TOP NAV STARTS HERE */
  .top-navbar {
    margin: 0;
  }

  .top-nav-container {
    height: 30px;
    background-color: #3e3e3e;
    margin-left: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .top-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 9px 190px 0 0;
    gap: 20px;
    color: #fff;
    list-style-type: none;
    margin: 0;
  }

  /* TOP NAV ENDS HERE */

  /* DESKTOP NAVBAR STARTS HERE */
  .desktop-nav {
    align-items: center;
    height: 75px;
  }

  .desktop-nav-list {
    display: flex;
  }

  .desktop-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* padding: 0px 198px 0px 209px; */
  }

  .desktop-navbar-logo {
    margin-right: 150px;
  }

  .logo-nav {
    padding: 12px 0 12px 0;
  }

  .nav-list {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    list-style-type: none;
    gap: 15px;
    padding: 20px 0 31px 0;
  }

  .nav-list li a {
    color: #868686;
    text-decoration: none;
  }

  .cccampaign {
    border: 5px solid rgb(255, 64, 0);
    padding: 10px;
    color: rgb(255, 64, 0) !important;
  }

  .nav-list-about {
    color: rgb(255, 64, 0) !important;
  }

  /* DESKTOP NAVBAR ENDS HERE */

  /* SECTION ONE STARTS HERE */
  .container-greetings-title {
    padding-left: 240px;
  }

  .message {
    margin-left: 230px;
  }

  .schedule {
    margin-left: 245px;
  }

  .venue {
    margin-left: 245px;
  }

  /* SECTION ONE ENDS HERE */

  /* MAIN PROGRAM STARTS HERE */
  .main-program {
    background-color: #282b32;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/3A_background_for_main_program.png");
    background-repeat: repeat;
  }

  .main-program-title-line {
    display: flex;
    flex-direction: column;
  }

  .main-program-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #fff;
  }

  .main-program-line {
    margin-top: -25px;
    width: 51px;
    height: 0;
    border: 2px solid #a04038;
  }

  /* Card Starts here */
  .card-master {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .card-details {
    flex: 1;
    height: 320px;
  }

  .card-container {
    flex-direction: column;
    gap: 5px;
    padding: 0;
    height: 310px;
  }

  .card-icon {
    flex: 1;
  }

  .card-title {
    font-size: 16px;
    line-height: 24px;
  }

  .card-description {
    font-size: 12px;
    line-height: 25px;
    max-width: 213px;
  }

  /* Card ends here */

  .select-whole-program-container {
    display: flex;
    flex-direction: column;
  }

  .select-whole-program {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #fff;
  }

  .join-cc-global-container {
    display: none;
  }

  .join-cc-global {
    display: none;
  }

  /* MAIN PROGRAM ENDS HERE */

  /* FEATURED SPEAKERS STARTS HERE */

  .first-row {
    grid-template-columns: auto auto;
  }

  .picture-master {
    flex: 1;
  }

  .speaker-title {
    font-size: 20px;
    line-height: 29px;
  }

  /* FEATURED SPEAKERS ENDS HERE */

  /* PARTNER STARTS HERE */

  /* PARTNER ENDS HERE */

  /* FOOTER STARTS HERE */

  .details-two {
    max-width: 500px;
  }

  /* FOOTER ENDS HERE */
}
